@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Admin-Layout.cshtml";
}

<a class=" m-3 btn bg-primary text-white" asp-action="Add" asp-asp-controller="Products">Add Product</a>

<div class="row">
	<div class="col-12 col-lg-8 col-xxl-12 d-flex">
		<div class="card flex-fill">
			<div class="card-header">

				<h5 class="card-title mb-0">Latest Products</h5>
			</div>
			<table class="table table-hover my-0">
				<thead>
					<tr>
						<th>@Html.DisplayNameFor(model=>model.Name)</th>
						<th class="d-none d-xl-table-cell">@Html.DisplayNameFor(model => model.Price)</th>
						<th class="d-none d-xl-table-cell">@Html.DisplayNameFor(model => model.Quantity)</th>
						<th>Status</th>
						<th class="d-none d-md-table-cell"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@Html.DisplayFor(modelItem=>item.Name)</td>
							<td class="d-none d-xl-table-cell">@Html.DisplayFor(modelItem=>item.Price)</td>
							<td class="d-none d-xl-table-cell">@Html.DisplayFor(modelItem=>item.Quantity)</td>
							<td>
								@if (item.Instock)
								{
									<span class="badge bg-success text-white">In Stock</span>
								}
								else
								{
									<span class="badge bg-danger text-white">Out of stock</span>
								}
							</td>
							<td class="d-none d-md-table-cell">
								<a href="" class="">Details</a>
							</td>
						</tr>	
					}
				</tbody>
			</table>
		</div>
	</div>
</div>