@model ViewModel_StoreHome
@{
	ViewBag.Title = "Store";
	int pageNumber;
	if(!int.TryParse(Context.Request.Query["pageNumber"],out pageNumber)){
		pageNumber = 1;
	}
}

<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- ASIDE -->
			<div id="aside" class="col-md-3">
				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Categories</h3>
					<div class="checkbox-filter">
						<div class="input-checkbox">
							<input type="checkbox" class="categoryIds" value="2" id="category-1">
							<label for="category-1">
								<span></span>
								Laptops
							</label>
						</div>

						<div class="input-checkbox">
							<input type="checkbox" class="categoryIds" value="3" id="category-2">
							<label for="category-2">
								<span></span>
								Smartphones
							</label>
						</div>

						<div class="input-checkbox">
							<input type="checkbox" class="categoryIds" value="4" id="category-3">
							<label for="category-3">
								<span></span>
								Cameras
							</label>
						</div>

						<div class="input-checkbox">
							<input type="checkbox" class="categoryIds" value="9" id="category-4">
							<label for="category-4">
								<span></span>
								Accessories
							</label>
						</div>

						<div class="input-checkbox">
							<input type="checkbox" class="categoryIds" value="8" id="category-5">
							<label for="category-5">
								<span></span>
								Headphones
							</label>
						</div>
					</div>
				</div>
				<!-- /aside Widget -->
				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Price</h3>
					<div class="price-filter">
						<div>
							<div>Min Price</div>
							<input id="price-min" value="0" name="minprice" type="number">
						</div>
						<div>
							<div>Max Price</div>
							<input id="price-max" value="1000000" name="maxprice" type="number">
						</div>
					</div>
				</div>
				<!-- /aside Widget -->
				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Brands</h3>
					<div class="checkbox-filter">
						@for(int i = 0; i < Model.Brands.Count; i++)
						{
							<div class="input-checkbox">
								<input type="checkbox" class="brandids" value="@Model.Brands[i].BrandId" id="brand-@Model.Brands[i].BrandId">
								<label for="brand-@Model.Brands[i].BrandId">
									<span></span>
									@Model.Brands[i].Name
								</label>
							</div>
						}
					</div>
				</div>
				<br />
				<a href="s" id="submit" style="display:hidden"></a> 
				<span id="anchor" searchTerm="@Context.Request.Query["searchTerm"]" style="background: red;padding: 10px;border-radius: 7px;color:white;cursor: pointer;">Apply</span>
			</div>
			<!-- /ASIDE -->
			<!-- STORE -->
			<div id="store" class="col-md-9">
				<!-- store products -->
				<div class="row">
					@foreach (var item in Model.Products)
					{
						<partial name="~/Views/PartialViews/Product_Patial.cshtml" model="item" />
					}
				</div>
				<!-- /store products -->
				<!-- store bottom filter -->
				<div class="store-filter clearfix">
					<ul class="store-pagination">
						@if (Model.Count > Model.PageSize)
						{
							@for (int i = 1; i <= Math.Ceiling((double)Model.Count / Model.PageSize); i++)
							{
								<li class="@(i==pageNumber?"active":"")">
									<a asp-action="Store" asp-route-categoryid="@Context.Request.Query["categoryId"]" asp-controller="Home" asp-route-pageNumber="@i">
										@i
									</a>
								</li>
							}
						}
					</ul>
				</div>
				<!-- /store bottom filter -->
			</div>
			<!-- /STORE -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

@section Scripts{
	<script src="/js/store.js"></script>
}